@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:ital,wght@0,100;1,300;1,900&display=swap');
#banner{
    position: relative;
}
#banner .banner-content{
    width: 700px;
    height: 400px;
    margin-left: 50px;
    border-radius:15px;
    box-shadow: 1px 4px 12px #161d1f;
    background-color: #ffff ;
    position: absolute;
    top: 85px;
}
#banner .banner-content .btn-banner:hover{
    border: 3px solid #fcfeff;
    background-color: #87d2fd;
   
}
#banner .banner-content .title-banner{
    font-size: 30px;
    margin-left: 105px;
    padding-top: 32px;
    font-weight: bold;
}
#banner .banner-content .content-banner{
    width: 555px;
    font-size: 18px;
    margin-left: 60px;
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
}
.banner-content .btn-banner{
    background-color: #5FC3FD;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 2px 1px 1px #6c8383;
    margin-left: 180px;
    margin-top: 40px;
    transition: 00.01s;
}
.btn-banner:hover{
    width: 305px;
    height: 62px;
    border-radius: 15px;
    box-shadow: 2px 1px 5px #066d6d;
}
#banner .banner-content .btn-banner:hover{
    border: 3px solid #124969;
    background-color: #4da1d1;
}
#banner .banner-content .btn-banner p{
    font-weight: bold;
    font-size: 17px;
    color: #ffff;
}
#banner img{
    opacity: 0.7;
    width: 100%;
    margin-left: -1px;
    margin-top: 1px;
}
.background{
    opacity: 0.8;
}