.container-profile{
  margin-top: 130px !important;
}
.user-avt{
  margin-left: 0px;
  
}
.custom-file-input{
  margin-left: 80px;
}
.box{
  margin-left: 40px;
  margin-right: 20px;
}
.text-inf{
  border: none;
  margin-bottom: 10px !important;
}
img{
  padding-left: 0;
}
.schedule{
  /* border-left: 3px #8ec2ed solid; */
}
.schedule{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.tag-schedule{
  border: 2px #8ec2ed dashed;
  border-radius: 5px;
  box-shadow: 2px 2px #b4d5f0;
  width: 300px;
  height: 122px;
  margin: 40px 55px 0px 50px;
  display: flex;
}
.infodoctor{
  margin: 20px 10px 10px 10px;
  border-right: #b4d5f0 dashed;
  padding-right: 15px;
}
.info-schdule{
  margin: 20px 10px 10px 10px;
}