@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,900&display=swap');

#navbar {
   
    
    background-color: #eceef0;
  
    transition: 0.4s;
    position: fixed;
   
    width: 100%;
    top: 0;
    z-index: 99;
  }
  #name {  margin:1em; padding:5px; }
  .crop { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100px; }
 
  
  
body{
    margin: 0px;
    padding: 0px;
    /* width: 100%;
    height: 100%; */
    font-family: 'Poppins', sans-serif; 

}
.icon{
    color: rgb(23, 108, 255);
    transition: 1s;
}
.icon :hover{
    transform:rotate(180deg);
   
   
}
svg{
    display: inline-block !important;
}
svg{
    display: inline-block !important;
}
#nav {
    display: grid;
    grid-template-columns: 504px 200px 200px 200px 200px 200px;
    grid-template-rows: 70px;  
    /* background-color: aqua; */
    align-items: center;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
}
.btn-login:hover{
    box-shadow: 2px 2px #5792b9;
    width: 115px;
    height: 45px;
}
img{
    padding-left: 1px;
}
.home , .specialist, .doctor, .about{
  

    font-size: 25px;
    
    font-weight: bold;
    transition: 0.2s;
    color: black;
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.home :hover, .specialist:hover, .doctor:hover, .about:hover{
    background-position:0 100%;
    opacity: 1;

   font-size: 28px;
   

}
.btn-login{
    width: 110px;
    height: 43px;
    background-color: #fff;
    border-radius: 10px;
    border: #80CCFF 2.5px solid;
    transition: 0.2s;
}
.btn-login:hover{
    box-shadow: 2px 2px #5792b9;
}
AiOutlineDown{
    font-size: 22px;
}

#nav i{
    font-size: 17px;
}
#nav .icon:hover{
    transform: rotate(90deg);
}
#nav ul{
    padding-top: 155px;
    z-index: 2;
}
.test-nav:hover{
    font-size: 30px;
    color: red;
}
