.section-handbook{
    height: 350px;
    background-color: #f7fafc;
     border: 1px #f5f5f5f5 solid; 
     position: relative;   
}
.section-handbook .btn-more{
    border: 1px #d7d7d7 solid;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    top: 20px;
    right: 222px;
}
.section-handbook .btn-more:hover{
    background-color: #4299e1;
    color: #fff;
    border: 1px #f5f5f5f5 solid;
}
.banner-content{
    margin: 0 300px;
    margin-top: 65px;
}
.img-customize{
    height: 300px;
    margin-left: 80px;
}
.slick-prev:before{
    font-family: FontAwesome !important;
    color: black !important;
}
.slick-prev{
    left: -50px !important;
    top: 90px !important;
    z-index: 2;
    width: 48px !important;
    height: 44px !important;
    background: #ffff !important;
    border: 2px solid #d7d7d7 !important;
}
.slick-prev:hover{
    background: #d7d7d7 !important;
}
.slick-next{
    background-color: blue !important;
    right: -50px !important;
    top: 90px !important;
    width: 48px !important;
    height: 44px !important;
    background: #ffff !important;
    border: 2px solid #d7d7d7 !important;
}
.slick-next:hover{
    background: #d7d7d7 !important;
}
.slick-next:before{
    font-family: FontAwesome !important;
    color: black !important;
}
.title-item-banner{
    width: 300px;
    margin-left: 12px;
}
